<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sol">
        <img src="{{ url_for('static', filename='sol2.png') }}" alt="Sol2 Image">
    </div>
    <div class="container">
        <h2>Task <br> Manager</h2>
    </div>
    <div class="card">
        <h3>
            <form action="/add" method="post">
                <input type="text" name="title" placeholder="Enter new task" required>
                <button type="submit">Add Task</button>
            </form>
            <ul>
                {% for task in tasks %}
                <li class="{{ 'completed' if task.completed else '' }}">
                    {{ task.title }}
                    <a href="{{ url_for('complete_task', task_id=task.id) }}">
                        {% if task.completed %} Undo {% else %} Complete {% endif %}
                    </a>
                    <a href="{{ url_for('delete_task', task_id=task.id) }}">Delete</a>
                </li>
                {% endfor %}
            </ul>
        </h3>
    </div>
    <div class="content">
        <p>Add more!</p>   
        <a href="">Read More...</a> 
    </div>

    <div class="sol2">
        <img src="{{ url_for('static', filename='sol.png') }}" alt="Sol Image">
    </div>
</body>
</html>