/* content.css */

h1, h2 {
    color: #253B6E;
    font-weight: 700;
    font-size: 4cqb; /* Adjust the weight as needed */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #1F5F8B;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: #D2ECF9;
}

button {
    padding: 10px 15px;
    background-color: #1891AC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1F5F8B;
}

a {
    display: inline-block;
    margin-right: 10px;
    color: #1891AC;
    text-decoration: none;
    font-weight: 600;
    font-size: 3rem;
}

a:hover {
    text-decoration: underline;
}
