
body {
    background-color: #e4e2e2;
    color: #000;
    font-family: GeneralSans, sans-serif;
    font-size: 3em;
    font-weight: 500;
    line-height: 1.25;
    margin: 10;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    counter-reset: katexEqnNo mmlEqnNo;
    opacity: 10;
    transition: opacity 1.3s ease;
}

header {
    background-color: #dad4d2;
    padding: 20px;
    text-align: center;
}

.header__logo img {
    max-width: 400px;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header__menu__nav__item {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.banner {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    height: 500px;
}

.banner__content {
    position: relative;
    padding-top: 1px; /* Add some padding to the top */
    font-size: 4em;
}

.banner__content img {
    position: absolute;
    top: 1px; /* Adjust this value to move the image closer to the top */
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    animation: moveFromBottomToTop 10s forwards; /* Apply the animation */
}

.description {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-color: #dddcdc;
    text-align: center;
}

.description__text {
    max-width: 1200px;

}

.artistas, .partners {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.footer {
    background-color: #dad4d2;
    padding: 20px;
    text-align: center;
}

.footer__title h2 {
    margin: 0;
}

.hidden {
    opacity: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.template-landing.ed-2022 .sol img {
    display: block;
    height: auto;
    margin: auto;
    width: 78vw;
}

img {
    max-width: 100%;
}

user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

:where(:not(iframe,canvas,img,svg,video):not(svg *)) {
    all: unset;
    display: revert;
}

user agent stylesheet
body {
    display: block;
    margin: 8px;
}

html {
    font-size: clamp(25%, .75vw, 41%);
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #232323;
}

::-webkit-scrollbar-track {
    background: transparent;
}

@keyframes moveFromBottomToTop {
    0% {
        top: 100%; /* Start from the bottom */
    }
    100% {
        top: 10px; /* End near the top */
    }
}